extra-streamlit-components==0.1.71
imbalanced-learn==0.11.0
joblib==1.2.0
lightgbm==4.1.0
numpy==1.26.4
oyaml==1.0
pandas==2.1.4
plotly==5.9.0
pyarrow==16.1.0
PyYAML==6.0.1
scikit-image==0.23.2
scikit-learn==1.3.0
scipy==1.12.0
SQLAlchemy==2.0.31
st-annotated-text==4.0.1
st-login-form==0.3.1
st-supabase-connection==2.0.0
st-theme==1.2.3
stack-data==0.2.0
streamlit==1.36.0
streamlit-authenticator==0.3.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-modal==0.1.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
toml==0.10.2
urllib3==2.1.0
xgboost==2.0.3
openpyxl==3.0.10
setuptools==68.2.2
